.trusted_section {
  padding: 0 5px;
  text-align: center;
  /* margin: 100px 0; */
}

.trusted_section h2:first-of-type {
  font-size: 2rem;
}

.trusted_section__brands_list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  flex-wrap: wrap;
  gap: 5px;
}

.trusted_section__brands_list img {
  border-radius: 10%;
}
