.trusted_section {
    padding: 0 5px;
    text-align: center;
}

.trusted_section h2:first-of-type{
    font-size: 2rem;
}

.trusted_section__brands_list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 800px;
    margin: 40px auto;
}

.trusted_section__brands_list img {
    border-radius: 10%;
}